@CHARSET "UTF-8";

.d-grid .inner-grid .row td:first-child {
    border-left: 1px solid #8ccbda !important;
}
/*表格样式*/
.d-grid .inner-grid .row td{
    border-right: 1px solid #8ccbda !important;
    border-bottom: 1px solid #8ccbda !important;   
    line-height: 35px; 
}
/*表头样式*/
.d-grid .header-table .header{
  background: #8ccbda !important;
  font-size:25px;
}
/*行样式
.d-grid-default .data-table .row td{
  background: #CCCCCC !important;
}
/*奇数行样式*/
.d-grid-default .data-table .odd-row td{
  background: #8cdefd !important;
}
/*选择行样式*/
.d-grid-default .data-table .current-row,
.d-grid-default .data-table .selected-row {
  color: #000000 !important;
  background-color: #fff000 !important;
}